services:
  vault-injector:
    platform: linux/amd64
    image: ghcr.io/giveth/vault-secret-injector:latest
    container_name: vault-injector
    restart: always
    env_file:
      - .env
    volumes:
      - type: bind
        source: ${TARGET_HOST_DIR}
        target: /secrets